.Logs-Form{
    background-color: #EAE2B7;
    margin-bottom: 16px;
    padding: 10px;
    

}
.form-item{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-flow: row;
    margin: 16px 0;
}
.form-item label{
    text-align: center;
    padding: 0 10px;
}
.form-item input{
    flex: auto;
}
.form-btn{
    text-align: center;
}