.item {
    display: flex;
    background-color: #FCBF49;
    padding: 6px;
    margin: 10px;

    z-index: 1;
}

.con {
    flex: auto;
    text-align: center;
}

.wenzi {
    font-size: 16px;
    color: #194B49;
}

.shijian {
    line-height: 40px;
    color: #D62828;

}
.delete{
    margin-right: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.delete:hover{
    color:#D62828;
    transform: rotate(1turn);
}